<form method="POST" enctype="multipart/form-data">
    <div class="row">

        <div class="col-lg-12 col-xlg-12 col-md-12">
            <?php if(isset($_SESSION["err"])): ?>
            <div class="alert alert-danger" role="alert">
                <?=$_SESSION["err"];?>
                <?php unset($_SESSION["err"]); ?>
            </div>
            <?php endif; ?>
            <div class="card">
                <div class="card-body">
                    <div class="form-group mb-4">
                        <label class="col-md-12 p-0">Назва<span style="color:red">*</span></label>
                        <div class="col-md-12 border-bottom p-0">
                            <input required
                                   type="text"
                                   placeholder="Введіть назву коллекції"
                                   class="form-control p-0 border-0"
                                   name="name"
                            />
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label class="col-md-12 p-0">Статус<span style="color:red">*</span></label>
                        <div class="col-md-12 border-bottom p-0">
                            <select name="active" class="form-select">
                                <option value="0">Вимкнено</option>
                                <option value="1">Увімкнено</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label class="col-md-12 p-0">Лого</label>
                        <small class="bg-light p-1">JPG або PNG</small>
                        <div class="custom-file mt-2">
                          <input type="file" class="form-control-file" id="customFile" name="logo">
                        </div>
                    </div>

                    <?php if(isset($errors)): ?>
                    <ul style="color:red;">
                        <?php foreach($errors as $err): ?>
                        <li><?=$err;?></li>
                        <?php endforeach; ?>
                    </ul>
                    <?php endif; ?>
                    <div class="form-group mb-4">
                        <div class="col-sm-12">
                            <button class="btn btn-success"><i class="fas fa-plus"></i> Додати</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</form>
